@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&family=Roboto&display=swap');
:root {
  --primary-color: #e7ecef   ;
  --secondary-color: #274c77 ;
  --accent1-color: #6096ba;
  --accent2-color: #a3cef1;

  --heading-font: "Racing Sans One";
  --paragraph-font: Roboto, Arial, sans-serif;

  --headline-color-on-white: #274c77;  /* headlines on a white background */ 
  --headline-color-on-color: #e7ecef; /* headlines on a colored background */ 
  --paragraph-color-on-white: #274c77; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #e7ecef; /* paragraph text on a colored background */ 
  --paragraph-background-color: #396E94  ;
  --nav-link-color: #e7ecef;
  --nav-background-color: #274c77;
  --nav-hover-link-color: #274c77;
  --nav-hover-background-color: #a3cef1;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}
h2 {
  text-align: center;
  margin: 0;
}
hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}
header {
  padding: 0em;
  text-align: center;
  color: var(--headline-color-on-color);
  background-color: var(--paragraph-background-color);
  display: grid;
  grid-template-columns: 150px auto;
}
header > h1, header > h2 {
  color: var(--headline-color-on-color);
}
p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color-on-white);
  padding: 1em;
}
.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}
.colors th {
  background-color: #999;
}
.colors td{
  width: 25%;
  height: 3em;
}
.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2{
  background-color: var(--accent2-color);
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid var(--accent1-color);
    transition: transform .5s;
    box-shadow: 5px 5px 10px var(--nav-background-color);
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}
nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav a {
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  width: 100%;
}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

.book, .join {
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;
  text-align: center;
}

.book, .join {
  color: var(--nav-link-color);
  background-color: var(--nav-background-color);
}
.book:hover, .join:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

.book {
    border-radius: 5px;
}

footer {
  background-color: var(--secondary-color);
  margin-top: 20%;
  padding: 25px 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer a {
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;
  text-align: center;
}
footer p a:link, footer p a:visited {
  color: var(--nav-link-color);
}
footer p a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

#hero {
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 100px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
    color:#e7ecef;
    text-shadow: 5px 2px 1px var(--headline-color-on-white);
}

#hero-img {
    width: 100%;
}

.button-box {
    text-align: center;
}

main section {
  width:100%;  
  text-align: center;
  justify-content: center;
}

.icon {
    filter: hue-rotate(120deg) saturate(5);
    width: 80px;
}

.logo {
  width: 100px;
}

#logo_link {
  padding-top: 5px;
  justify-self: center;
  align-self: center;
  background-color: var(--nav-background-color);
  width:100%;
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(10,1fr);
}

.card-img, .mountains {
    width: 100%;
}

.rivers-card {
  grid-column: 2/4;
  grid-row: 2/3;
}

.camping-card {
  grid-column: 5/7;
  grid-row: 2/3;
}

.rapids-card {
  grid-column: 8/10;
  grid-row: 2/3;
}

#background {
  height: 725px;
  grid-column: 1/11;
  grid-row: 4/9;
  background-color: var(--accent2-color);
}

.mountains {
  grid-column: 2/7;
  grid-row: 5/8;
}

.msg {
  background-color: var(--primary-color);
  grid-column: 6/10;
  grid-row: 6/7;
  margin-top: 100px;
  margin-bottom: 100px;
}

.social img {
    border-radius: 5px;
}


html, body {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}