body {
    margin:0px;
    padding:0px;
    background-color: #FFF0FF;
}

nav {
    display: flex;
    background-color: #ffcafa;
    border-bottom: 5px groove #ffcafa;
}

h1 {
    text-align: center;
    font-size: 100px;
    color: #300000;
}

img {
    width: 25%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    border: 6px ridge pink;
}

section {
    margin: 50px auto;
    width: 80%;
    background-color: pink;
    padding:20px;
    box-shadow: 2px 2px 2px #111;
}

footer {
    width: 100%;
    margin:0px;
    padding-top:30px;
    padding-bottom:30px;
    background-color: #ffcafa;
    border-top: 5px ridge #ffcafa;
}