main {
    text-align:center;
}

img{
    max-width:50%;
    border-style:ridge;
    border-width:4px;
}

h1 {
    color:steelblue;
}

nav {
    background-color: steelblue;
    color:black;
    border-style:ridge;
    padding:15px;
    left:2px;
    right:2px;
}

a {
    color:white;
}

footer {
    position:fixed;
    bottom:0px;
    left:0;
    right:0;
    padding:5px;
    background-color:steelblue;
    color:white;
    border:0;
    border-top: 4px;
    border-style:ridge;
}